.venv
.env
src/home_bess.egg-info/
**.pyc
build/
**.cache.sqlite
pyproject.toml
**.pkl
**.parquet
**/output/**
**.sh
src/simulation/data/epex_prices.csv
tests/test_day_ahead_prices.csv
src/simulation/data/epex_prices.csv
